#principal{
background-color: rgb(105, 105, 218);
width: 95%;
height: 100%;
margin: auto;
}

header h1,a{
    color:white;
    margin: auto;
}

header h1{
    margin-left: 35px;
}
header{
    display: flex;
}

header ul li {
    padding: 20px;
    margin: auto;
    display:inline-flex;
    font-size: 20px;
    font-weight: bold;
}

header ul li a {
    text-decoration: none;
    margin-right: 20px;
}

header ul li a:hover {
    color: orange;
}

#uno h1,h2{
    text-align: center;

}

#uno{
    background-image: url("uno.jpg");
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 22%;
    margin: auto;
    
}

#dos{
    -background-color: rgb(188, 173, 188);
    width: 95%;
    height: 22%;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

#dos #tres{
    background-color: rgb(204, 83, 83);
    width: 65%;
    height: 100%;
    -border: 1px solid #25f170;
    text-align: center;
    
}

#dos #dos1{
    width: 35%;
    height:100%;
    -border: 1px solid #f5ee2b;
    margin-left: 10px;
}

#dos1 #cuatro{
    background-color: rgb(83, 204, 111);
    width: 100%;
    height: 47%;
}

#dos1 #cinco{
    -background-color: rgb(204, 172, 83);
    width: 100%;
    height: 47%;
    margin-top: 10px;
    display: flex;
    -border: 1px solid #ea2c0b;
}

#cinco #sies{
    background-color: rgb(38, 241, 200);
    width: 49%;
    height: 100%;
    color:azure;
    text-align: center;
    -border: 1px solid #272724;
}

#cinco #siete{
    background-color: rgb(58, 38, 241);
    width: 49%;
    height: 100%;
    -border: 1px solid #36e467;
    margin-left: 10px;
    text-align: center;
}

#buy{
    background-color: rgb(243, 138, 53);
    width: 95%;
    height: 7%;
    -border: 1px solid #36e467;
    margin: auto;
    margin-top: 10px;
    display:flex;
    justify-content:space-evenly;
    color: beige;
}

#imagen{
    -background-color: rgb(173, 83, 204);
    width: 95%;
    height: 22%;
    margin: auto;
    margin-top: 10px;
    display: flex; 
    justify-content:space-between;
}
#imagen .uno{
    width: 25%;
    height:100% ;
    -border: 1px solid #36e467;
    text-align: center;
}
#imagen .uno4,.uno2, .uno3{
    margin-left:10px;
}

footer{
    display: flex;
    align-content: center;
    justify-content:space-between;
    color:white;
    font-size: 20px;
    padding-left: 35px;
    padding-right:35px ;
}
#imagen .uno1{
    background-color: rgb(83, 204, 148);
}
#imagen .uno2{
    background-color: rgb(204, 83, 180);
}
#imagen .uno3{
    background-color: pink;
}
#imagen .uno4{
    background-color: rgb(204, 103, 83);
}